<section class="md:h-[42rem] flex justify-center items-center bg-[#94B4C1]/20">
    <div class="max-w-(--breakpoint-xl) mx-auto py-2 px-4 md:px-12 md:py-8 mt-16">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="col-span-2 space-y-2 md:space-y-4">
                <h1 class="text-lg md:text-4xl font-semibold font-mono text-[#213448] w-10/12">
                    Chief Executive Officer <strong>(DEA) Bahawalpur</strong> Message
                </h1>
                <div class="text-[#213448] space-y-2 text-sm md:text-lg">
                    <p>
                        Education is the powerful tool for every field of life. All the developed nations are unsing it
                        intelligently. After 75 years, our beloved country is still behind but at the same time
                        struggling to make progress in every walk of life. In this era of globilization, digital
                        activities are becoming essential item for progress of all resources.
                    </p>
                    <p>
                        SED (South Punjab) Multan is also striving for quality of education as well as to move towards
                        digital system of education in all sphere in eleven districts of South Punjab. Chief Executive
                        Officer (DEA) Bahawalpur is also struggling for it. There are 192 boys and girls high and higher
                        secondary school having 25000 enrolement of students. In 192 high and higher schools, there are
                        3215 teaching staff while 1200 non teaching staff. Fortunately, Bahawalpur is better in academic
                        and co-curriculary activities.Launching of webiste of Chief Executive Officer (DEA) Bahawalpur
                        is very first step to make Bahawalpur in leading position in South Pujab. I would like to
                        appreciate Digital Team of Secondary Wing Bahawalpur and pray for their success to keep this
                        pace in future.
                    </p>
                </div>
            </div>
            <div>
                <img
                    src="/ceo-dea-bwp.jpg"
                    alt="Chieft Executive Officer (DEA Bahawalpur)"
                    class="w-full h-full object-cover aspect-square rounded-md shadow-lg"
                />
            </div>
        </div>
    </div>
</section>
