<section class="my-4">
    <div class="grid grid-cols-2 gap-2">
        <img
            class="row-span-2 w-full h-full aspect-auto object-cover"
            src="/banner-img_02.jpg"
            alt="banner_img"
        />
        <img
            src="/banner-img_03.jpg"
            alt="banner_img"
            class="h-full w-full"
        />
        <img
            src="/banner-img_01.jpg"
            alt="banner_img"
            class="h-full w-full"
        />
        <img
            src="/banner-img.jpg"
            alt="banner_img"
            class="h-full w-full col-span-2 row-span-2"
        />
    </div>
</section>
