<section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-1">
        <img
            src="/banner-img.jpg"
            alt="banner_img"
            class="h-full w-fullaspect-ratio object-cover col-span-2 row-span-2"
        />
        <img
            class="row-span-2 w-full h-full aspect-ratio object-cover"
            src="/banner-img_02.jpg"
            alt="banner_img"
        />
        <img
            src="/banner-img_03.jpg"
            alt="banner_img"
            class="h-full w-full aspect-ratio object-cover"
        />
        <img
            src="/banner-img_01.jpg"
            alt="banner_img"
            class="h-full w-full aspect-ratio object-cover"
        />
    </div>
</section>
