---
// TODO: Add links to the card title
---

<section class="md:h-[42rem] flex items-center justify-center">
    <div class="max-w-(--breakpoint-xl) mx-auto md:px-12 px-4 py-2 md:py-8">
        <h1 class="text-4xl font-semibold font-mono text-[#213448] my-4">How we works?</h1>
        <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 place-items-center gap-2 md:gap-6">
            <div
                class="card group bg-base-100 shadow-lg flex items-center flex-row justify-between md:py-2 md:px-4 py-1 px-2"
            >
                <figure>
                    <img
                        src="/course1.webp"
                        alt="Movie"
                    />
                </figure>
                <div class="card-body text-[#213448] group-hover:scale-y-125 transition-all ease-in-out">
                    <h2 class="card-title">Teacher Trainings</h2>
                    <p>
                        Teachers in government schools are trained teachers. Around ~0.3 million teacher's professional
                        development, School based CPD, Leadership and Management Courses, Early Childhood
                    </p>
                </div>
            </div>
            <div class="card bg-base-100 shadow-lg flex group items-center flex-row justify-between py-2 px-4">
                <figure>
                    <img
                        src="/course2.webp"
                        alt="Movie"
                    />
                </figure>
                <div class="card-body text-[#213448] group-hover:scale-y-125 transition-all ease-in-out">
                    <h2 class="card-title">Exams Emergency</h2>
                    <p>
                        School Education Department South Punjab conduct emergency exams for secondary and higher
                        secondary students in all South Punjab Schools.
                    </p>
                </div>
            </div>
            <div class="card bg-base-100 shadow-lg flex group items-center flex-row justify-between py-2 px-4">
                <figure>
                    <img
                        src="/course3.webp"
                        alt="Movie"
                    />
                </figure>
                <div class="card-body text-[#213448] group-hover:scale-y-125 transition-all ease-in-out">
                    <h2 class="card-title">Smart Learning</h2>
                    <p>
                        The government of the Punjab continuously seeks innovative solutions that can help improving
                        student learning outcomes for public school students
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
