---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>
    <div class="min-h-screen flex justify-center items-center">
        <div class="space-y-4 p-4 shadow-xl bg-zinc-100 rounded-lg">
            <h1 class="text-3xl font-semibold">Welcome</h1>
            <p class="text-gray-500">
                <i> District Education Authority, Bahawalpur </i>
            </p>
            <button class="btn btn-outline btn-primary"> Get more information </button>
        </div>
    </div>
</AppLayout>
