---
const { title } = Astro.props;
---

<div class="h-96 flex justify-center items-center">
    <div class="text-xl font-medium font-mono tracking-widest">
        <h2 class="text-amber-800 underline underline-offset-8">{title}</h2>
        <h1 class="text-6xl text-amber-800">Under Construction</h1>
    </div>
</div>
