---
import { navigationLinks } from "../../constants/navLinks";
import { cn } from "../../lib/utils";

const pathname = Astro.url.pathname;
---

<footer class="bg-[#213448] text-[#ECEFCA]">
    <div class="grid md:grid-cols-5 space-y-4 max-w-(--breakpoint-xl) mx-auto p-4 gap-x-4">
        <div class="flex flex-col gap-1 w-full">
            {
                navigationLinks[0].map((link, index) => (
                    <a
                        href={link.href}
                        class={cn(
                            "link link-hover w-full lg:p-1 hover:bg-[#94B4C1] hover:text-white font-semibold",
                            pathname === link.href && "bg-[#94B4C1] text-white",
                        )}
                    >
                        {link.title}
                    </a>
                ))
            }
        </div>
        <div class="col-span-3 flex justify-center w-full">
            <div class="lg:space-y-8 space-y-4">
                <div class="flex items-center gap-1 justify-start">
                    <div>
                        <img
                            src="/icon/location-dot.svg"
                            alt="location-dot"
                            class="size-8"
                        />
                    </div>
                    <div>
                        <h1 class="lg:text-xl">Office of the Chief Executive Officer</h1>
                        <p class="italic">District Education Authority, 20-C Model Town &apos;A&apos;, Bahawalpur</p>
                    </div>
                </div>
                <div class="flex items-center gap-2 justify-start">
                    <div>
                        <img
                            src="/icon/phone.svg"
                            class="lg:size-6 size-4"
                            alt="Phone Number"
                        />
                    </div>
                    <div>
                        <a
                            href="tel:(062)-9255115"
                            class="lg:text-lg"
                            >(062)-9255115</a
                        >
                    </div>
                </div>
                <div class="flex items-center gap-2 justify-start">
                    <div>
                        <img
                            src="/icon/mail.svg"
                            class="lg:size-6 size-4"
                            alt="Email Address"
                        />
                    </div>
                    <div>
                        <a
                            href="mailto:deabahawalpurpb.pk@gmail.com"
                            class="lg:text-lg"
                            >deabahawalpurpb.pk@gmail.com
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-end col-span-1">
            <ul class="flex gap-y-4 lg:gap-y-8 flex-col">
                <!--TODO: Add proper links-->
                <li>
                    <a class="flex items-center gap-1">
                        <img
                            src="/icon/youtube.svg"
                            class="lg:size-8 size-6"
                            alt="google"
                        />
                        <p class="text-[#ECEFCA] lg:text-lg">Youtube</p>
                    </a>
                </li>
                <li>
                    <a class="flex items-center gap-1">
                        <img
                            src="/icon/facebook.svg"
                            class="lg:size-8 size-6"
                            alt="google"
                        />
                        <p class="text-[#ECEFCA] lg:text-lg">Facebook</p>
                    </a>
                </li>
                <li>
                    <a class="flex items-center gap-1">
                        <img
                            src="/icon/instagram.svg"
                            class="lg:size-8 size-6"
                            alt="google"
                        />
                        <p class="text-[#ECEFCA] lg:text-lg">Instagram</p>
                    </a>
                </li>
                <li>
                    <a class="flex items-center gap-1">
                        <img
                            src="/icon/x-twitter.svg"
                            class="lg:size-8 size-6"
                            alt="google"
                        />
                        <p class="text-[#ECEFCA] lg:text-lg">X-Twitter</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
